@page "/"
@using System.Net.Http
@inject HttpClient Http

@using BlazorTodoApp.Models

<div class="todo-container">
<h1>desktop-task-list</h1>
<div class="todo-input">
    <input type="text" @bind="newName" placeholder="Enter New ToDo"/>
    <button @onclick="AddTodo">Add</button>
    </div>  
    

@foreach (var todo in todoItems)
{
    var index = 0;
    <div class="todo-item">
        <div 
        class="@(todo.IsComplete ? "todo-item__text complete" : "todo-item__text")" 
        @onclick="@(() =>MarkAsComplete(todo))">
        @todo.Name
        </div>
        <div class="todo-item__close" @onclick="@(() => RemoveTodo(index))">&times;</div>
    </div>
}
</div>
<!--
@foreach (var todo in todos)
{

    <div class="todo-item">
        <div class="todo-item__text">@todo</div>
        <div class="todo-item__close" @onclick="RemoveTodo">&times;</div>
    </div>
}
-->

@code
{
    public string newName {get; set; }
    // public List<Todo> todos = new List<Todo>();
    
    private Todo[] todoItems;

    protected override async Task OnInitializedAsync() => todoItems = await Http.GetFromJsonAsync<Todo[]>("data/todo");

    public async Task AddTodo()
    {
        var addTodo = new Todo { Name = newName, IsComplete = false };
        await Http.PostAsJsonAsync("data/todo",newName);
        newName = "";
    }

    public void RemoveTodo(int index)
    {
    }
    public void MarkAsComplete(Todo todo)
    {
        todo.IsComplete = !todo.IsComplete;
    }
}
